version: '3.8'

services:
  api:
    build: .
    ports:
      - "8081:8081"
    depends_on:
      - postgres
    environment:
      - ENV=production
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    container_name: task-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: go_user
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: taskdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
